<div class="holder">
	
	<h1><%= @header %></h1>

	<%= render '/posts/form'%>
	
	<%= form_for @search, :remote => true do |f| %>
		<%= f.text_field :body_contains %>
	<% end %>
		
	<div id="post_div">
		<%= render @posts %>		
	</div>
		
</div>


<script>
	
$("#post_search input").keyup(function(){
	var form = $("#post_search");
	var url = 'posts/search';
	var formData = form.serialize();				
	$.get(url, formData, function(html){
		$("#post_div").html(html);
	});
});

	
</script>
