<div class="holder">
	
	<h1><%= @header %></h1>

	<%= render '/posts/form'%>
	
	<%= form_for @search, :remote => true do |f| %>
		<%= f.text_field :body_contains %>
	<% end %>
		
	<div id="post_div">
		<%= render @posts %>		
	</div>
		
</div>


<script>
	
$("#post_search input").keyup(function(){
	$(this).submit();
});

	
</script>
