<div class="holder">
	<table style="width: 1000px">
		<tr>
			<td style="padding-top: 13px; padding-bottom: 1px">
				<div class="logo"><%= link_to 'sandbox', root_path %></div>
			</td>
			<td style="text-align: right">
				<% unless @title == 'home' %>
				<nav style="margin-right: -30px">
					<ul>
						<li><%= link_to 'simple', simple_path %></li>
						<li><%= link_to 'posts', posts_path %></li>
						<li><%= link_to 'modal', '#' %></li>
						<li><%= link_to 'validation', '#' %></li>
					</ul>
				</nav>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				test site for learning javascript, jquery, ajax, and other rich internet stuff
			</td>
		</tr>
	</table>
</div>